body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.kassen-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#wechselgeld-details {
    margin-top: 20px;
}
section{
    border: 1px solid black;
    box-shadow: 0px 3px 1px 3px rgb(218, 239, 186);
}